{% extends 'dashboard/dashboard.html.twig' %}

{% block section %}
<div class="container mt-3">
    <div class="headerUser text-center">
    <h1>Habitats</h1>
    {% for message in app.flashes('success') %}
        <div class="alert alert-success mt-4">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('error') %}
        <div class="alert alert-danger mt-4">
            {{ message }}
        </div>
    {% endfor %}
    </div>
    <div class="container-fluid">
        <div class="row bg-dark rounded mt-3 py-2 mx-1 justify-content-center">
            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        Habitats existants
                        </button>
                    </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse bg-dark" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                        {% if habitatsList %}
                            <ul class="text-primary">
                            {% for habitat in habitatsList %}
                            <li class="row">
                            <div class="col-2">{{ habitat.nom }}</div>
                            <div class="col-3 actions">
                                <div class="row justify-content-end">
                                    <div class="col-auto modify">
                                        <a href="/Habitats/{{ habitat.id }}#habitat"><i class="bi bi-search" title="Visualiser"></i></a>
                                    </div>
                                    {% if is_granted('ROLE_ADMIN') %}
                                    <div class="col-auto modify">
                                        <a href="{{ path('app_dashboard_habitats_edit', { id: habitat.id}) }}"><i class="bi bi-pencil" title="Modifier"></i></a>
                                    </div>
                                    <div class="col-auto delete">
                                        <a href="{{ path('app_dashboard_habitats_deleteConfirm', { id: habitat.id}) }}"><i class="bi bi-trash" title="Supprimer"></i></a>
                                    </div>
                                    {% endif %}
                                    <div class="col-auto editImage">
                                        <a href="{{ path('app_dashboard_habitats_editImageHabitat', { id: habitat.id}) }}"><i class="bi bi-image" title="Gérer les images de cet habitat"></i></a>
                                    </div>

                            </li>
                            {% endfor %}
                            </ul>
                        {% endif %}
                        </div>
                    </div>
                </div>
                {% block action %}
                
                {% endblock %}   
            </div>
        </div>
    </div>
</div>
{% endblock %}