{% extends 'dashboard/habitats/dashboardHabitats.html.twig' %}

{% block action %}
{% if is_granted('ROLE_ADMIN') %}
<div class="accordion-item">
    <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
        Modifier habitat
        </button>
    </h2>
    <div id="flush-collapseTwo" class="accordion-collapse collapse bg-dark show" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
            <div class="row justify-content-center">
                <div class="col-12">
                    {{ form_start(form) }}
                        {{ form_errors(form) }}
                        <div class="form-group">
                            {{ form_row(form.nom) }}
                        </div>
                        <div class="form-group">
                            {{ form_row(form.resume) }}
                        </div>
                        <div class="form-group">
                            {{ form_row(form.description) }}
                        </div>
                <div class="row align-items-center mt-3">
                    <div class="col-6">
                        <div class="form-group">
                            {{ form_row(form.photos) }}
                        </div>
                    </div>
                    <div class="col-4">
                        {% if photo %}
                            <p class="text-primary">Image actuelle</p>
                            <img class="img-fluid" src="{{ asset ("images/habitats/#{ habitatSelect.id }/#{ photo }") }}">
                        {% else %}
                            <p class="text-primary">Pas de photo associée</p>
                            {% endif %}
                    </div>
                </div>
                <div class="col-12 text-center">    
                    <div class="form-group">
                        {{ form_row(form.submit) }}
                    </div>
                </div>    
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %} 