{% extends 'index.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block main %}
<div class="container-fluid">
    <div class="hero_connexion row align-items-center text-center mt-3 mx-1 rounded">
        <h1 class="titre-principal">Connexion</h1>
    </div>
    <div class="formulaire row bg-dark rounded mt-3 py-2 mx-1 justify-content-center">
        <div class="col-lg-6 col-sm-12 col-md-10">
            <form method="post">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3">
                        Vous etes connecté comme {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Deconnexion</a>
                    </div>
                {% endif %}
                <div class="mb-3">
                    <label for="username" class="form-label text-primary">Email</label>
                    <input type="email" value="{{ last_username }}" name="_username" id="username" class="form-control" autocomplete="email" required autofocus>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label text-primary">Mot de passe</label>
                    <input type="password" name="_password" id="password" class="form-control" autocomplete="current-password" required>
                </div>  
                <input type="hidden" name="_csrf_token"
                    value="{{ csrf_token('authenticate') }}"
                >

                {#
                    Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                    See https://symfony.com/doc/current/security/remember_me.html

                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" name="_remember_me"> Remember me
                        </label>
                    </div>
                #}
                <div class="text-center">
                    <button class="btn btn-lg btn-primary" type="submit">
                        Se connecter
                    </button>
                </div>
            </form>
        </div>
    </div>        
</div>
{% endblock %}
