{% extends 'index.html.twig' %}

{% block main %}
<h1>Biome: {{ biome }}</h1>
<p>{{ animal.firstname }}</p>
<p>{{ animal.race.label }}</p>
<p>{{ animal.race.species }}</p>
{% for image in animal.Images %}
<p>{{ image.image }}</p>
{% endfor %}


{% endblock %}