{% extends 'pages/habitats.html.twig' %}

{% block habitat %}
<div class="hero-{{ titreHabitat }}">
    <div class="imageHabitat row align-items-center text-center pt-3 mx-1 rounded">
        <img class="w-100 imageHabitat__image rounded" src="{{ asset ("images/#{ imageCover }") }}" alt="image cover {{ titreHabitat }}">
        <h2 class="imageHabitat__titreSecondaire">{{ titreHabitat }}</h2>
    </div>
    <div class="row mt-3 pt-3 text-center">
        <p class="habitat-accroche">{{ accroche }}</p>
    </div>
    <div class="row mt-3 text-center align-items-center justify-content-center px-3">
    {% for image in images %}
        <div class="col-lg-4 col-sm-12 col-md-6 pb-3">
            <a href="{{ asset ("images/habitats/#{ titreHabitat }/#{ image }") }}" data-toggle="lightbox" data-gallery="{{ titreHabitat }}"><img class="img-fluid" src="{{ asset ("images/habitats/#{ titreHabitat }/#{ image }") }}" alt="{{ image }}"></a>
        </div>
    {% endfor %}
    </div>
    <div class="row px-3 mx-2 pt-2 text-center bg-primary rounded">
    {{ description|raw }}
    </div>
    <div class="row mt-3 habitats-animaux  text-center bg-secondary">
        <div class="col-12 text-uppercase">
        {% if titreHabitat == "Savane" or titreHabitat == "Jungle" %}
            Les animaux de la {{ titreHabitat }}.
        {% else %}
            Les animaux des {{ titreHabitat }}.
        {% endif %}
        </div>
        <div class="col-12 mt-2">
            <div class="row habitats-animaux-photos justify-content-center">
            {% for animal in animals %}
                <div class="section-animaux_bg-image col-lg-3 col-sm-6 mb-3">
                {% for image in animal.Images %}
                    {% if image.cover == 1 %}
                        <img class="w-100 img-animaux rounded-circle" src="{{ asset ("images/animaux/#{ titreHabitat }/#{ image.Image }") }}"/>
                    {% endif %}
                {% endfor %}
                    <a href='/Habitats/{{ titreHabitat }}/{{ animal.firstname }}'><h2 class="section-animaux_nom mt-2">{{ animal.firstname }}</h2></a>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}