{% extends 'dashboard/dashboard.html.twig' %}

{% block section %}
<div class="container mt-3">
    <div class="headerUser text-center">
    <h1>Animaux</h1>
    {% for message in app.flashes('success') %}
        <div class="alert alert-success mt-4">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('error') %}
        <div class="alert alert-danger mt-4">
            {{ message }}
        </div>
    {% endfor %}
    </div>
    <div class="container-fluid">
        <div class="row bg-dark rounded mt-3 py-2 mx-1 justify-content-center">
            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        Animaux existants
                        </button>
                    </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse bg-dark" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                        {% if animals %}
                            <ul class="text-primary">
                                <li class="row">
                                <div class="col-2 fw-bold">Prénom</div>
                                <div class="col-2 fw-bold">Race</div>
                                <div class="col-2 fw-bold">Habitat</div>
                                <div class="col-3 fw-bold">Etat</div>
                                <div class="col-2 row justify-content-end fw-bold">Actions</div>
                                </li>
                            {% for animal in animals %}
                                <li class="row">
                                <div class="col-2">{{ animal.firstname }}</div>
                                <div class="col-2">{{ animal.race.label }}</div>
                                <div class="col-2">{{ animal.Habitat.nom }}</div>
                                {% if animal.RapportVeterinaireAnimals|length != 0 %}
                                <div class="col-3"><a href="#">{{ animal.RapportVeterinaireAnimals[0].etat }}</a></div>
                                {% else %}
                                <div class="col-3">Pas de rapport</div>
                                {% endif %}
                                <div class="col-2 actions">
                                    <div class="row justify-content-end">
                                        <div class="col-auto modify">
                                            <a href="/Habitats/{{ animal.Habitat.nom }}/{{ animal.firstname }}"><i class="bi bi-search" title="Visualiser"></i></a>
                                        </div>
                                        <div class="col-auto modify">
                                            <a href="{{ path('app_dashboard_services_editService', { id: animal.id }) }}"><i class="bi bi-pencil" title="Modifier"></i></a>
                                        </div>
                                        {% if is_granted('ROLE_ADMIN') %}
                                        <div class="col-auto delete">
                                            <a href="{{ path('app_dashboard_services_deleteServiceConfirm', { id: animal.id}) }}"><i class="bi bi-trash" title="Supprimer"></i></a>
                                        </div>
                                        {% endif %}
                                </li>
                            {% endfor %}
                            </ul>
                        {% endif %}
                        </div>
                    </div>
                </div>
                {% block action %}
                
                {% endblock %}   
            </div>
        </div>
    </div>
</div>
{% endblock %}