{% extends 'dashboard/animals/dashboardAnimals.html.twig' %}

{% block action %}
{% if is_granted('ROLE_ADMIN') %}
<div class="accordion-item">
    <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
        Gérer les images de l'animal {{ animal.firstname }}
        </button>
    </h2>
    <div id="flush-collapseTwo" class="accordion-collapse collapse bg-dark show" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
            <div class="row justify-content-center">
                {{ form_start(form) }}
                <div class="form-group">
                    {{ form_label(form.image) }}
                    <div class="row justify-content-center">
                        {% for label, value in field_choices(form.image) %}
                        <div class="col-3">
                        <input type="checkbox" id="{{ form.image.vars.id }}_{{ value }}" name="{{ field_name(form.image) }}[]" value="{{ value }}">
                        <label for="{{ field_name(form.image) }}"><img class="img-fluid" src="{{ asset("images/animaux/#{animal.id}/#{label}") }}"></label>
                        </div>
                        {% endfor %}
                    </div>
                    {{ form_errors(form.image) }}
                    <div class="col-12 text-center">    
                        <div class="form-group">
                            {{ form_row(form.supprimer) }}
                        </div>
                        <div class="form-group">
                            {{ form_row(form.newImage) }}
                        </div>
                    </div>
                    <div class="col-12 text-center">    
                        <div class="form-group">
                        {{ form_row(form.add) }}
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %} 