<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
</head>

<body>
    <h1>Nouveau mail de {{ contactFirstname }} {{ contactName }}</h1>
    <p>Email : {{ contactEmail }}</p>
    <p>sujet : {{ subject }}</p>
    <p>Message : </p>
    <div>
        <p>Vous avez été enregistré comme nouvel utilisateur du site du Zoo Arcadia.</p>
        <p>Votre nom d'utilisateur est {{ contactEmail }}, votre mot de passe vous sera fourni ultérieurement par l'administrateur.</p>
    </div>
</body>

</html>